$color-principal: black;
$color-base: #666;
$color-light: #ffff;

$color-complementario: #4A3F0B;
$color-complementario2: #968535;

$color-complementario3: #997754;
$color-complementario4: #E6C9AC;

$color-complementario5: #A14271;
$color-complementario6: #ED91BF;

$fuente-titulos: sans-serif;
$fuente-regular: sans-serif;

$borde-redondo: 25px;

$container: 10px;